<% content_for :head do %>
    <title>Dashboard - AZ Preston</title>
<% end %>

<section class = "container-fluid">
    
    <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top DashNav" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
    
                <%= link_to "Quilt".html_safe, root_url, class: "navbar-brand" %>
                 <!-- Toggle Button-->
                <a href="javascript:void(0)" class="ToggleIcon closebtn" onclick="toggleNav()">
                    <i class="fa fa-bars ToggleColor" aria-hidden="true"></i>
                </a>
           
            </div>
            <!-- Top Menu Items -->
            
            
            <!--Messages dropdown-->
                 
             <!--Icon List-->
            <ul class = "nav navbar-right top-nav">
               
                
                <li>
                    <%= link_to " ","#",'data-toggle'=>"dropdown", class: "fa fa-envelope-o  MessageIcon dropdown-toggle"%>
                    <span class = "label label-success MessageCount">4</span>
                    <ul class="dropdown-menu">
                        <li><a href="#">HTML</a></li>
                        <li><a href="#">CSS</a></li>
                    </ul>
                    
                        
                </li>
                
               
                
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle Username" data-toggle="dropdown">
                        Username
                    <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"></a>
                            <%= link_to '<i class="fa fa-fw fa-user" aria-hidden="true"></i> Profile'.html_safe, edit_user_registration_path %>
                        </li>
                        
                        <li>
                            <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                        </li>
                       
                        <li class="divider"></li>
                        <li>
                            <%= link_to '<i class="fa fa-fw fa-power-off" aria-hidden="true"></i> Log out'.html_safe, destroy_user_session_path, :method => :delete %> 
                        </li>
                    </ul>
                </li>    
                
            </ul>
                    
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul id = "MainDashMenu" class="nav navbar-nav side-nav DashNav">
             
                    <li class = "DashLinkList">
                         <%= link_to '<i class="fa fa-home" aria-hidden="true"></i> Home'.html_safe,"../dashboard", class: "DashLink"  %>
                    </li>
                    
                    <li class = "DashLinkList">
                        <%= link_to '<i class="fa fa-commenting" aria-hidden="true"></i> Chat'.html_safe,"../dashboard/chat", class: "DashLink"  %>
                    </li>
                    
                    <li class = "DashLinkActive DashLinkList">
                        <%= link_to '<i class="fa fa-weixin" aria-hidden="true"></i> Group'.html_safe,"../dashboard/group", class: "DashLink"  %>
                    </li>
                    
                    <li class = "DashLinkList">
                        <%= link_to '<i class="fa fa-calendar" aria-hidden="true"></i> Calendar'.html_safe,"../dashboard/calendar", class: "DashLink"  %>
                    </li>
                    
                    <li class = "DashLinkList">
                       <%= link_to '<i class="fa fa-user" aria-hidden="true"></i> Admin'.html_safe,"../dashboard/admin", class: "DashLink"  %>
                    </li>
                    
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
        
    
       
    <!-- Groups --> 
    
    <section id="Main">
        <section id = "PostZone">
            
            <div class = "Post well Other">
                <%= image_tag("Stock.jpg" ,class: "PostImg", alt: "User Image") %>  
                
                <div class = "PostTop">
                    <p class = "PostName PostItem">Username</p> &nbsp; <p class = "PostTime PostItem">Time</p>
                </div>
                
                <div class = "PostText">
                    <p>Busey ipsum dolor sit amet. You ever roasted doughnuts?Sometimes horses cough and fart at the same time, so stay out of the range of its butt muscle because a horses butt muscle is thick.I wrestled a bear once. A 750lbs black bear.Have you urinated? Have you drained your bladder? Are you free? Because if you haven't it will only come out later. I'm giving you some information that your bodily fluids may penetrate your clothing fibre's without warning. </p>
                </div>
            </div>
            
            <div class = "Post well">
                <%= image_tag("Stock2.jpg" ,class: "PostImg", alt: "User Image") %>  
                
                <div class = "PostTop">
                    <p class = "PostName PostItem">You</p> &nbsp; <p class = "PostTime PostItem">Time</p>
                </div>
                
                <div class = "PostText">
                    <p>Busey ipsum dolor sit amet. You ever roasted doughnuts?Sometimes horses cough and fart at the same time, so stay out of the range of its butt muscle because a horses butt muscle is thick.I wrestled a bear once. A 750lbs black bear.Have you urinated? Have you drained your bladder? Are you free? Because if you haven't it will only come out later. I'm giving you some information that your bodily fluids may penetrate your clothing fibre's without warning. </p>
                </div>
                
            </div>
           
            
            <%= form_tag "public#index", :method => :put, :class => 'PostForm' do |f|%>
                <div class="input-group PostIn">
                    <span class="input-group-btn">
                        <%= button_tag type: 'submit', class: "btn btn-primary" do %>
                              <i class="fa fa-weixin" aria-hidden="true"></i>
                        <% end %>
                    </span>
                    
                    <%= text_field_tag(:post,"", class: "RegInput form-control", autofocus: true ) %>
                </div>
            <% end %>
           
        
        </section>
      
    </section>
    
   
    
   

</section> 